body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.navBar {
    float:left;
}
.navBar > div {
    padding: 5px 0 5px 10px;
    width: 150px;
    margin-right: 3em;
}
.button {
    border: 1px solid white;
}

.button.active {
    width:100%;
    border-radius: 2px;
    float:left;
    color: #fff;
    align-self: center;
    line-height: 2em;
    padding: 0.2em 3em;
    transition: border-color, background-color 0.1s ease-out;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    box-sizing: border-box;
}
.blue {
    background-color: #3cabed;
}
.yellow {
    background: #b7bc2f;
}
.red {
    background: #fc5420;
}
